<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head"></head>
<body>
	<div class="container">
		<header th:replace="base :: menu"></header>

		<div class="shadow p-4 mb-4 quadro">
			<h2>Lista de Clientes</h2>
	
			<div  th:unless="${#lists.isEmpty(cadastro.clientes)}">
				<form th:action="@{/removeCliente}" method="post" th:object="${cadastro}">  
					<fieldset>
						<table class="table table-sm table-hover table-striped">
							<thead class="table-dark">
								<tr>
									<td>Nome</td>
									<td>E-Mail</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cliente : ${cadastro.clientes}">
									<td th:text="${cliente.nome}"></td>
									<td th:text="${cliente.email}"></td>
								<tr>
							</tbody>				
					     </table>  
					</fieldset>
				</form>
			</div>
		
			<div th:if="${#lists.isEmpty(cadastro.clientes)}">
				<form >
					<fieldset>
						<h5>Não existem <em>Clientes</em> cadastrados.</h5>
						<div>
							<a class="btn btn-primary shadow border border-light" th:href="index.html">Voltar</a>
						</div>
					</fieldset>
				</form>	
			</div>
			
		</div>		
	</div>
</body>
</html>