body  {
	background-color:#269;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
/* 	background:
	linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
	linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
	background-color:#708090;
	background-size: 64px 128px;
 */ }


.modal-content {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

.jumbotron, .navbar, .quadro {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem 0.5rem;
}

.quadro {
	background-color: rgba(213, 220, 232, 0.95);
}

.border {
	margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.jumbotron, .quadro {
	background-color: rgba(213, 220, 232, 0.8); 
    border: 1px solid #bfbfbf;
}

.navbar, .border, .quadro {
	 border-radius: .3rem;
}

header {
	margin-bottom: 1em;
}

.shadow, .border, .modal-content {
	border: 1px solid #bfbfbf;
}

.navbar, .quadro, .border, .jumbotron, .modal-content {
	box-shadow: 5px 5px 5px hsla(0, 0%, 26.6667%, 0.8);
}

.container h1 { 
	font-family: 'Merienda', cursive;
	text-shadow: 0px 1px white,4px 4px 0px #dad7d7 ;
	font-weight: 400;
}

.modal-header {
	font-family: 'PT Sans Caption', sans-serif;
}

.modal-body {
	font-family: 'PT Sans', sans-serif;
}

.modal-header, .modal-body {
	color: white;
}

.modal-header {
    border-bottom: 1px solid #585a5c;
}

.modal-footer {
    border-top: 1px solid #585a5c;
}

.close {
	color: #fffdfd;
	text-shadow: 0 0;
}

h2 {
	font-size: 1.5rem;
}

label {
	font-family: 'Oswald';
}

.btn, label { 
	font-size: 0.8em;
}

.alert {
	margin-top: 1rem;
}

.nav-item {
	text-transform: uppercase; 
	font-family: 'Oswald', sans-serif; 
	font-size: 1.1em;
}

.nav-link:hover {
	animation: warning 1.5s infinite ease-in;
}

@keyframes warning {
	0% {
		text-shadow: 0 0 4px #ffffff;
	}
	50% {
		text-shadow: 0 0 40px #ffffff;
	}
	100% {
		text-shadow: 0 0 4px #ffffff;
	}
}