<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="expires" content="Mon, 17 jul 2000 10:10:00 GMT" />

	<link rel="stylesheet" href="bower_components/Oswald/oswald.css">
	<link rel="stylesheet" href="bower_components/PTSansNarrow/pTSansNarrow.css">
	<link rel="stylesheet" href="bower_components/FredokaOne/fredokaOne.css">
	<link rel="stylesheet" href="bower_components/Merienda/merienda.css">
	
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css">	

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js"></script>

	<link rel="stylesheet" type="text/css" href="style/style.css">		

	<title>Cadastro</title>
</head>
<body>
	<div>
		<header th:fragment="menu">
			<div class="jumbotron text-center" th:fragment="titulo">
				<img alt="Fasto" src="images/fasto.png">
			</div>

			<nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Clientes</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="editaCliente">Cadastra Clientes</a>
							<a class="dropdown-item" href="listaCliente">Lista Clientes</a>
						</div>
					</li>
				</ul>
			</nav>
		</header>
				
		<div th:fragment="mensagem">
			<div th:if="${#vars['mensagem']}"
				 th:class="${#vars['tipo.mensagem']}  + ' alert alert-dismissible fade show shadow-lg p-4 mb-4'">
				 <button type="button" class="close" data-dismiss="alert">&times;</button>
				 <strong><span th:text="${#vars['mensagem']}"></span></strong>
			</div>
		</div>
		
	</div>
</body>
</html>