<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<base href="/CadastroBoot/" target="_top">

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-Edge">
	<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="expires" content="Mon, 1 jul 2000 10:10:00 GMT">

	<link rel="stylesheet" href="bower_components/Oswald/oswald.css">
	<link rel="stylesheet" href="bower_components/PTSansNarrow/pTSansNarrow.css">
	<link rel="stylesheet" href="bower_components/FredokaOne/fredokaOne.css">
	<link rel="stylesheet" href="bower_components/Merienda/merienda.css">
	
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css">
	
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js"></script>
	
	<link rel="stylesheet" type="text/css" href="style/style.css">		

	<title>Cadastro</title>
</head>
<body>
	<div>
		<header th:fragment="menu">
			<div class="jumbotron text-center" th:fragment="titulo">
				<h1>Fasto</h1>
			</div>
			
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Clientes</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="editaCliente">Cadastra Clientes</a>
							<a class="dropdown-item" href="listaCliente">Lista Clientes</a>
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Serviços</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="editaServico">Cadastra Serviços</a>
							<a class="dropdown-item" href="listaServico">Lista Serviços</a>
						</div>
					</li>
					
				</ul>
			</nav>
		</header>
	
		<div th:fragment="mensagem">
			<div th:if="${#vars['mensagem']}" 
				 th:class="${#vars['tipo.mensagem']} + ' alert alert-dismissible fade show shadow-lg p-4 mb-4'">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong><span th:text="${#vars['mensagem']}"></span></strong>
			</div>
		</div>
		
		<div th:fragment="servico" class="modal" id="srvModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<form th:action="@{/selecionaServico}" th:object="${listaServicos}">
					
						<div class="modal-header bg-secondary">
							<h4 class="modal-title mx-auto">Seleção de Serviços</h4>
						</div>
					
						<div class="modal-body">
							<div class="mx-auto p-2 border border-secondary rounded">
								<input type="hidden" id="cliente_id" th:field="*{idCliente}">
								<table>
									<tr th:each="servico : ${listaServicos.servicos}">
										<td th:text="${servico.nome}" class="w-100"></td>
										<td class="float-right pr-2">
											<input type="checkbox" name="del" th:class="'srv-' + ${servico.idServico}"
												   th:checked="${servico.selecionado}"
												   th:field="*{ids}"
												   th:value="${servico.idServico}">
										</td>
									</tr>
								</table>
							</div>
						</div>
						
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary shadow border border-light">Salvar</button>
							<button type="button" class="btn btn-secondary shadow border border-light"
								    data-dismiss="modal">Fechar</button>
						</div>
					</form>
				</div>
			</div>
			
			
			<script type="text/javascript">
				$(document).ready(function () {
					$('body').on('click', ".cliente-id", function () {
						document.getElementById("cliente_id").value = $(this).attr("data-id");
						
						$.getJSON("carregaServicos/" + $(this).attr("data-id"), function (servico) {
							$.each(servico, function (chave, valor) {
								$(".srv-"+valor.idServico).prop('checked', valor.selecionado);
							});
						});
					});
				});
			</script>
			
		</div>
		
	</div>
</body>
</html>


















