<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head"></head>
<body>
	<div class="container">
		<header th:replace="base :: menu"></header>
		
		<div th:replace="base :: mensagem"></div>
		
		<div class="shadow quadro p-4 mb-4">
			<h2>Lista de Clientes</h2>
			
			<div th:unless="${#lists.isEmpty(cadastro.clientes)}">
				<form th:action="@{/removeCliente}" method="post" th:object="${cadastro}">
					<fieldset>
						<table class="table table-sm table-hover table-striped">
							<thead class="table-dark">
								<tr>
									<td>Del</td>
									<td>Editar</td>
									<td>Nome</td>
									<td>E-Mail</td>
									<td class="float-right pr-2">Serviços</td>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="cliente : ${cadastro.clientes}">
									<td>
										<input type="checkbox" name="del"
											th:checked="${cliente.desativado}"
											th:field="*{ids}"
											th:value="${cliente.idCliente}"/>
									</td>
									
									<td>
										<a th:href="@{'editaCliente/' + ${cliente.idCliente}}">
											<span class="fa fa-pen btn btn-light"></span>
										</a>
									</td>
									
									<td th:text="${cliente.nome}"></td>
									<td th:text="${cliente.email}"></td>
									
									<td>
										<a class="float-right pr-2 cliente-id" 
										   data-toggle="modal" data-target="#srvModal"
										   th:attr="data-id=${cliente.idCliente}">
										   <span class="fa fa-plus rounded-circle p-2 bg-light shadow"></span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						
						<div>
							<button class="btn btn-primary shadow" type="button" data-toggle="modal"
								    data-target="#delModal">Excluir os Clientes Selecionados</button>
							<a class="btn btn-secondary shadow" th:href="index.html">Voltar</a>
						</div>
												
					</fieldset>
					
					<div class="modal fade" id="delModal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Atenção</h4>
									<button type="button" class="close" data-dismiss="modal">x</button>
								</div>
								
								<div class="modal-body">
									Confirma a exclusão do(s) Cliente(s)?
								</div>
								
								<div class="modal-footer">
									<button class="btn btn-danger shadow border border-light"
											type="submit">Sim</button>
									<button class="btn btn-success shadow border border-light"
											type="button" data-dismiss="modal">Não</button>
								</div>
							</div>
						</div>
					</div>
					
				</form>
			</div>
			
			<div th:if="${#lists.isEmpty(cadastro.clientes)}">
				<form>
					<fieldset>
						<h5>Não existem <em>Clientes</em> cadastrados.</h5>
						<div>
							<a class="btn btn-primary shadow border border-light" 
							   th:href="index.html">Voltar</a>
						</div>
					</fieldset>
				</form>
			</div>
			
		</div>
		
		<!-- Diálogo de Seleção de Serviços -->
		<div th:replace="base :: servico"></div>
		
	</div>
</body>
</html>