<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="base :: head" />
<body>
	<div class="container">
		<header th:replace="base :: menu" ></header>
	
		<div th:replace="base :: mensagem"></div>  	

		<div class="shadow p-4 mb-4 quadro">
			<h2>Lista de Servico</h2>
	
			<div  th:unless="${#lists.isEmpty(servicos)}">  
				<form>  
					<fieldset>       
						<table class="table table-sm table-hover table-striped">
							<thead class="table-dark">
								<tr>
									<td>Del</td>
									<td>Nome</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="servico : ${servicos}">
									<td>
										<a th:attr="data-id=${servico.idServico}" class="servico-id"
										   data-toggle="modal" data-target="#delServico">
											<span class="fa fa-trash-alt btn btn-light"></span>
										</a>
									</td>
									<td th:text="${servico.nome}"></td>
								<tr>
							</tbody>
						</table>
						<div>
							<a class="btn btn-secondary shadow" href="index.html" >Voltar</a>
						</div>
					</fieldset>
					
					<!-- The Modal -->
					<div class="modal fade" id="delServico">
						<div class="modal-dialog">
							<div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title">Atenção</h4>
									<button type="button" class="close" data-dismiss="modal">×</button>
								</div>

								<!-- Modal body -->
								<div class="modal-body">Confirma a exclusão do Serviço?</div>

								<!-- Modal footer -->
								<div class="modal-footer">
									<a href="#" id="servico_id_ancora"
										class="btn btn-danger shadow border border-light">Sim</a>
									<button type="button"
										class="btn btn-success shadow border border-light"
										data-dismiss="modal">Não</button>
								</div>

							</div>
						</div>
					</div>

					<script type="text/javascript">
						$(document).ready(function () {
							$('body').on('click', '.servico-id', function () {
								document.getElementById("servico_id_ancora").href = "removeServico/" + $(this).attr('data-id');
							});
						});
					</script>

				</form>
			</div>
			
			<div th:if="${#lists.isEmpty(servicos)}">
				<form >
					<fieldset>
						<h5>Não existem <em>Serviços</em> cadastrados.</h5>
						<div>
							<a class="btn btn-primary shadow border border-light" th:href="index.html" >Voltar</a>
						</div>
					</fieldset>
				</form>	
			</div>
		</div>
	  
	</div>
</body>
</html>