<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="base :: head" />
<body>
	<div class="container">
		<header th:replace="base :: menu" ></header>
	
		<div th:replace="base :: mensagem"></div>  	

		<div class="shadow p-4 mb-4 quadro">
			<h2>Lista de Clientes</h2>
	
			<div  th:unless="${#lists.isEmpty(usuarios)}">  
				<form>  
					<fieldset>       
						<table class="table table-sm table-hover table-striped">
							<thead class="table-dark">
								<tr>
									<td>Del</td>
									<td>Editar</td>
									<td>Nome</td>
									<td>Administrador</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="usuario : ${usuarios}">
									<td>
										<a th:attr="data-id=${usuario.nome}" class="user-id"
										   data-toggle="modal" data-target="#delUser">
											<span class="fa fa-trash-alt btn btn-light"></span>
										</a>
									</td>
									<td>
										<a th:href="@{'editaUsuario/' + ${usuario.nome}}">
											<span class="fa fa-pen btn btn-light"></span>
										</a>
									</td>
									<td th:text="${usuario.nome}"></td>
									<td>
										<div th:if="${usuario.administrador}">
											<span class="fa fa-check btn btn-light"></span>
										</div>
										<div th:unless="${usuario.administrador}">
											<span class="fa fa-times btn btn-light"></span>
										</div>
									</td>
								<tr>
							</tbody>
						</table>
						<div>
							<a class="btn btn-secondary shadow" href="index.html" >Voltar</a>
						</div>
					</fieldset>
					
					<!-- The Modal -->
					<div class="modal fade" id="delUser">
						<div class="modal-dialog">
							<div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title">Atenção</h4>
									<button type="button" class="close" data-dismiss="modal">×</button>
								</div>

								<!-- Modal body -->
								<div class="modal-body">Confirma a exclusão do Usuário?</div>

								<!-- Modal footer -->
								<div class="modal-footer">
									<a href="#" id="usuario_id"
										class="btn btn-danger shadow border border-light">Sim</a>
									<button type="button"
										class="btn btn-success shadow border border-light"
										data-dismiss="modal">Não</button>
								</div>

							</div>
						</div>
					</div>

					
				    <script type="text/javascript">
				    	$(document).ready(function () {
				    		$('body').on('click', '.user-id',function() {
				    			document.getElementById("usuario_id").href = "removeUsuario/" + $(this).attr('data-id');
					    	});
				    	});
				    </script>
					

				</form>
			</div>
			
			<div th:if="${#lists.isEmpty(usuarios)}">
				<form >
					<fieldset>
						<h5>Não existem <em>Usuários</em> cadastrados.</h5>
						<div>
							<a class="btn btn-primary shadow border border-light" th:href="index.html" >Voltar</a>
						</div>
					</fieldset>
				</form>	
			</div>
		</div>
	  
	</div>
</body>
</html>